@model IEnumerable<CinemaViewModel>

@{
    ViewBag.Title = "Incasso sale cinema";
}
<div class="text-center">
    <h1 class="Myh1">Welcome in our site !!</h1>
    <img class="MyImg" src="~/image/film.jpg"/>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDCin)</th>
        <th>@Html.DisplayNameFor(model => model.CodSala)</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var cinema in Model)
        {
            <tr>
                <td>@cinema.IDCin</td>
                <td>@cinema.IncassoGiornaliero</td>
                <td>@cinema.CodSala</td>
                <td>
                    @Html.ActionLink("Visualizza","Visualizza",new {ID = cinema.IDCin})
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center"> Nessun incasso disponibile</td>
        </tr>
    }
</table>
